

<div class="offcanvas offcanvas-end" tabindex="-1" id="cartDrawer">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Tu carrito</h5>
    <button class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column justify-content-between">
    <div id="cartContent"></div>

     <div class="d-grid gap-2 mt-3">
        <a href="/frontend/public/pages/cart.html" class="btn btn-outline-primary">Ver carrito</a>
        <button id="checkout-btn" class="btn btn-primary">Ir a pagar</button>
      </div>
  </div>
</div>
