<div class="container-fluid catalogo">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-4 mb-4" id="promociones">Promociones</h2>
    </div>
  </div>

    <div class="row" id="row-promociones"></div>
  </div>

  <!-- <div class="container-fluid catalogo">
    <div class="row">
      <div class="col-12">
        <h2 class="mt-4 mb-4" id="mas-vendidos">Mas vendidos</h2>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div
          class="card prod h-100"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-product-name="Queso Mantecoso"
          data-product-price="$5.990"
          data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
          data-product-desc="Queso artesanal de vaca, suave y mantecoso."
        >
          <div class="ratio ratio-4x3">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />
          </div>
          <div class="card-body">
            <h5>Producto</h5>
            <p><em>Precio</em></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div
          class="card prod h-100"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-product-name="Queso Mantecoso"
          data-product-price="$5.990"
          data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
          data-product-desc="Queso artesanal de vaca, suave y mantecoso."
        >
          <div class="ratio ratio-4x3">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />
          </div>
          <div class="card-body">
            <h5>Producto</h5>
            <p><em>Precio</em></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div
          class="card prod h-100"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-product-name="Queso Mantecoso"
          data-product-price="$5.990"
          data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
          data-product-desc="Queso artesanal de vaca, suave y mantecoso."
        >
          <div class="ratio ratio-4x3">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />
          </div>
          <div class="card-body">
            <h5>Producto</h5>
            <p><em>Precio</em></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div
          class="card prod h-100"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-product-name="Queso Mantecoso"
          data-product-price="$5.990"
          data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
          data-product-desc="Queso artesanal de vaca, suave y mantecoso."
        >
          <div class="ratio ratio-4x3">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />
          </div>
          <div class="card-body">
            <h5>Producto</h5>
            <p><em>Precio</em></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid catalogo">
    <div class="row">
      <div class="col-12">
        <h2 class="mt-4 mb-4" id="quesos">Quesos</h2>
      </div>

      <div class="d-flex mx-5 flex-wrap gap-4 mb-3">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: ''">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <a href="#q-vaca" class="btn-chip">Vaca</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#q-cabra" class="btn-chip">Cabra</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#q-oveja" class="btn-chip">Oveja</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#q-veggie" class="btn-chip">Veggie</a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 id="q-vaca" class="subcat">Vaca</h3>
        </div>
      </div>

      <div class="row" id="row-quesos-vaca"></div>

      <div class="row">
        <div class="col-12">
          <h3 id="q-cabra" class="subcat">Cabra</h3>
        </div>
        <div class="row" id="row-quesos-cabra"></div>

        <div class="row">
          <div class="col-12">
            <h3 id="q-oveja" class="subcat">Oveja</h3>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Oveja Boladero Trozo Granel"
              data-product-price="$3.730"
              data-product-img="/frontend/public/img/quesos/oveja/Queso-de-oveja-feta-trozo-granel-Boladero.webp"
              data-product-desc="Queso de oveja Boladero trozo granel."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/oveja/Queso-de-oveja-feta-trozo-granel-Boladero.webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Oveja Boladero Trozo Granel</h5>
                <p><em>$3.730</em></p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso de oveja Semi Maduro Granel"
              data-product-price="$7.180"
              data-product-img="/frontend/public/img/quesos/oveja/Queso-de-oveja-semi-maduro-trozo-granel.jpg"
              data-product-desc="Queso de oveja semi maduro granel."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/oveja/Queso-de-oveja-semi-maduro-trozo-granel.jpg"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso de oveja Semi Maduro Granel</h5>
                <p><em>$7.180</em></p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Oveja Maduro Vasca 180g"
              data-product-price="$6.490"
              data-product-img="/frontend/public/img/quesos/oveja/Queso-Oveja-Maduro-Oveja-Vasca-180-g.webp"
              data-product-desc="Queso de oveja maduro vasca 180g."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/oveja/Queso-Oveja-Maduro-Oveja-Vasca-180-g.webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Oveja Maduro Vasca 180g</h5>
                <p><em>$6.490</em></p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Oveja Vasca Envasado 180g"
              data-product-price="$5.990"
              data-product-img="/frontend/public/img/quesos/oveja/Queso-Oveja-Laureles-Oveja-Vasca-180-g.webp"
              data-product-desc="Queso de oveja vasca envasado 180g."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/oveja/Queso-Oveja-Laureles-Oveja-Vasca-180-g.webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Oveja Vasca Envasado 180g</h5>
                <p><em>$5.990</em></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h3 id="q-veggie" class="subcat">Veggie</h3>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Vegetal Cheddar Laminado 200g"
              data-product-price="$4.200"
              data-product-img="/frontend/public/img/quesos/veggie/1079.webp"
              data-product-desc="Queso vegetal cheddar laminado 200g."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/veggie/1079.webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Vegetal Cheddar Laminado 200g</h5>
                <p><em>$4.200</em></p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Vegetal Cheddar Laminado 1kg"
              data-product-price="$14.990"
              data-product-img="/frontend/public/img/quesos/veggie/1079 (1).webp"
              data-product-desc="Queso vegetal cheddar laminado 1kg."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/veggie/1079 (1).webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Vegetal Cheddar Laminado 1kg</h5>
                <p><em>$14.990</em></p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Vegetal Manteoso Laminado 200g"
              data-product-price="$4.200"
              data-product-img="/frontend/public/img/quesos/veggie/1079 (2).webp"
              data-product-desc="Queso vegetal mantecoso laminado 200g."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/veggie/1079 (2).webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Vegetal Manteoso Laminado 200g</h5>
                <p><em>$4.200</em></p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div
              class="card prod h-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-product-name="Queso Vegetal Manteoso Laminado 2kg"
              data-product-price="$20.890"
              data-product-img="/frontend/public/img/quesos/veggie/1079 (3).webp"
              data-product-desc="Queso vegetal mantecoso laminado 2kg."
            >
              <div class="ratio ratio-4x3">
                <img
                  src="/frontend/public/img/quesos/veggie/1079 (3).webp"
                  class="card-img-top"
                  alt="producto"
                />
              </div>
              <div class="card-body">
                <h5>Queso Vegetal Manteoso Laminado 2kg</h5>
                <p><em>$20.890</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid catalogo">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 mb-4" id="combos">Combos</h2>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Combo Desgustacion"
            data-product-price="$5.990"
            data-product-img="/frontend/public/img/combos/desgustacion.jpeg"
            data-product-desc="Este producto no se encuentra disponible"
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid catalogo">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 mb-4" id="tablas">Tablas</h2>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div
            class="card prod h-100"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-product-name="Queso Mantecoso"
            data-product-price="$5.990"
            data-product-img="https://www.mitiendacolun.cl/media/catalog/product/3/d/3d_xtramadurado_trozo350g_650x650.png?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&canvas=700:700"
            data-product-desc="Queso artesanal de vaca, suave y mantecoso."
          >
            <div class="ratio ratio-4x3">
              <img
                src="https://picsum.photos/seed/promo1/300/150"
                class="card-img-top"
                alt="producto"
              />
            </div>
            <div class="card-body">
              <h5>Producto</h5>
              <p><em>Precio</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/frontend/public/js/handlers/product.js"></script>
  </div>
</div>
