
    <div class="container-fluid">
      <div class="row">
        <h2 class="mt-4 mb-4" style="font-size: 2vw">Catalogo</h2>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100 w-auto">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />

            <div class="card-body">
                <h5>Producto</h5>
                <p>Desc. Producto</p>
                <p><em>Precio</em></p>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100 w-auto">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />

            <div class="card-body">
                <h5>Producto</h5>
                <p>Desc. Producto</p>
                <p><em>Precio</em></p>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100 w-auto ">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />

            <div class="card-body">
                <h5>Producto</h5>
                <p>Desc. Producto</p>
                <p><em>Precio</em></p>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100 w-auto">
            <img
              src="https://picsum.photos/seed/promo1/300/150"
              class="card-img-top"
              alt="producto"
            />

            <div class="card-body">
                <h5>Producto</h5>
                <p>Desc. Producto</p>
                <p><em>Precio</em></p>

            </div>
          </div>
        </div>
        
      </div>
    </div>
 
