
<div class="container mb-3">
  <div class="row text-center">
    <h2 class="mt-4 mb-4" style="font-size: 2vw">Categorias</h2>
  </div>
  <div class="row text-center g-1">
    <div class="col-12 col-md-4">
      <a href="#quesos" class="btn-cat btn-primary h-0 p-3">Quesos</a>
    </div>
    <div class="col-12 col-md-4">
      <a href="#combos" class="btn-cat btn-primary h-0 p-3">Combos</a>
    </div>
    <div class="col-12 col-md-4">
      <a href="#tablas" class="btn-cat btn-primary h-0 p-3">Tablas</a>
    </div>
    <div class="col-12 col-md-4">
      <a href="#promociones" class="btn-cat btn-primary h-0 p-3">Promociones</a>
    </div>
    <div class="col-12 col-md-4">
      <a href="#mas-vendidos" class="btn-cat btn-primary h-0 p-3">Mas vendidos</a>
    </div>
    <div class="col-12 col-md-4">
      <a href="#destacados-root" class="btn-cat btn-primary h-0 p-3">Destacados</a>
    </div>
  </div>
</div>
