
    <div class="container mb-3">
      <div class="row text-center">
        <h2 class="mt-4 mb-4" style="font-size: 2vw">Categorias</h2>
      </div>
      <div class="row text-center g-1 ">
        <div class="col-12 col-md-4">
          <button class="btn-c btn-primary  h-0  p-3">Quesos</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn-c btn-primary  h-0  p-3">Combos</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn-c btn-primary  h-0  p-3">Tablas</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn-c btn-primary  h-0  p-3">Promociones</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn-c btn-primary  h-0  p-3">Mas vendidos</button>
        </div>
        <div class="col-12 col-md-4">
          <button class="btn-c btn-primary  h-0  p-3">Destacados</button>
        </div>
      </div>
    </div>
 