
    <nav class="navbar navbar-expand-sm navbar-light bg-custom">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">Queso & Sabor</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mx-auto gap-2 mt-5 mb-2">
            <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Quesos</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">Promociones</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Destacados</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Combos</a></li>
          </ul>
        </div>
      </div>
    </nav>

