<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <h5 id="exampleModalLabel">Producto</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row g-4 align-items-stretch">
            <div class="col-md-5">
              <img id="modalProductImg" src="https://picsum.photos/500/500"
                class="img-fluid w-100 h-100 object-fit-cover rounded d-block" />
            </div>
            <div class="col-md-7">
              <h6>Descripción</h6>
              <p id="modalProductDesc" class="mb-3">...</p>
              <div class="controls-wrap mx-auto mx-md-0" style="max-width: 420px">
                <p id="modalProductPrice" class="fw-semibold fst-italic mb-2">
                  $9.990
                </p>
                <div class="row g-2 align-items-center justify-content-center justify-content-md-start">
                  <div class="col-12 col-sm-6 col-md-5">
                    <input id="modalQty" type="number" class="form-control text-center" min="1" value="1" />
                  </div>
                  <div class="col-auto d-grid">
                    <button id="addToCartBtn" class="btn px-4">
                      Agregar al carrito
                    </button>
                  </div>
                </div>
                <div class="row g-2 mt-2">
                  <div class="col-12 d-grid">
                    <button class="btn" data-bs-dismiss="modal">
                      Volver al catálogo
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>