
.my-btn{
  border-radius: 12px;
  background-color: azure;
  border: 1px solid rgb(110, 95, 95);
  transition: 0.3s;
  width: 23vw;
  font-size: 2vw;

}

.my-btn:hover{
  background-color: rgb(77, 87, 90);
  transform: scale(1.1);
  cursor: pointer;
}
.my-btn:active{
  background-color: lightgreen;
  transform: scale(0.9);
}